footer.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 1 auto;
    font-size: 1rem;

    @media screen and (min-width: 480px){
        flex-direction: row;
        font-size: lerp((4.8rem: 1.0rem, 19.2rem: 1.6rem));

        p {
            order: 1;
        }

        ul {
            order: 2;
        }
    }

    p {
        order: 2;
    }

    ul {
        order: 1;
        margin: 0 0 0.5em 0;

        @media screen and (min-width: 480px){
            margin: 0;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5em 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .icon {
        display: block;

        &.vue {
            width: 1.4375em;
            height: 1.25em;
            background-image: url('../images/logo-vue.png');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.nuxt {
            width: 1.75em;
            height: 1.25em;
            background-image: url('../images/logo-nuxt.png');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.wordpress {
            width: 1.25em;
            height: 1.25em;
            background-image: url('../images/logo-wordpress.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}